.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 270px;
  background: #9af8cc;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.name {
  text-align: center;
}

.home-header{
  background: #323131;
}
