<div class="profile-pic-info">
  <div mat-card-avatar class="profile-pic"></div>
</div>
<h2><b>Deepak Bhalode</b></h2>

<!--  ------------ side navigation ------------ -->
<mat-divider class="navlist-divider"></mat-divider>
<mat-nav-list>
  <a mat-list-item [routerLink]="['/home']">
    <mat-icon>home</mat-icon>H o m e
  </a>
  <a mat-list-item [routerLink]="['/about']">
    <mat-icon>account_box</mat-icon>A b o u t
  </a>
  <!-- <a mat-list-item [routerLink]="['/project']">
    <mat-icon>task</mat-icon>P r o j e c t
  </a> -->
  <a mat-list-item [routerLink]="['/blog']">
    <mat-icon>view_list</mat-icon>B l o g
  </a>
  <a mat-list-item [routerLink]="['/contact']">
    <mat-icon>email</mat-icon>C o n t a c t
  </a>
</mat-nav-list>

<!--  ------------ social links ------------ -->
<mat-divider class="social-link-divider"></mat-divider>
<h3 class="social-menu-header">L e t' s  C o n n e c t..</h3>
<div class="social-menu">
  <ul>
    <li>
      <a
        href="https://github.com/deepakBhalode"
        target="blank"><i class="fab fa-github"></i>
      </a>
    </li>
    <li>
      <a
        href="https://www.instagram.com/deepak_bhalode/"
        target="blank"><i class="fab fa-instagram"></i>
      </a>
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/er-deepak-bhalode/"
        target="blank"><i class="fab fa-linkedin-in"></i>
      </a>
    </li>
    <li>
      <a
        href="https://medium.com/@deepak_bhalode"
        target="blank"><i class="fab fa-medium"></i>
      </a>
    </li>
  </ul>
</div>
